/dev/vr                   0666   system     system
/dev/nx_vpu               0666   system     system

# ion
/dev/ion                  0666   system     system

# v4l2
/dev/media0               0666   system     system
/dev/v4l-subdev*          0666   system     system
/dev/video*               0666   system     system

# sw sync
/dev/sw_sync              0666   system     system

# scaler
/dev/nxp-scaler           0666   system     system

# hdmi-cec
/dev/hdmi-cec             0666   system     system

# bt
/dev/ttyAMA1              0660   bluetooth  net_bt_stack
/dev/rfkill               0666   bluetooth  net_bt_stack

/dev/backlight-1wire      0660   system     system

# uart
/dev/ttyAMA2              0666   system     system
/dev/ttyAMA3              0666   system     system
/dev/ttyAMA4              0666   system     system
/dev/ttyUSB*              0660   system     system
/dev/ttyGS*               0660   system     system
